<p id="notice"><%= notice %></p>

<p>
  <strong>Idsp:</strong>
  <%= @giohang.idsp %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @giohang.iduser %>
</p>

<p>
  <strong>Soluong:</strong>
  <%= @giohang.soluong %>
</p>

<%= link_to 'Edit', edit_giohang_path(@giohang) %> |
<%= link_to 'Back', giohangs_path %>
