<p id="notice"><%= notice %></p>

<p>
  <strong>Tendn:</strong>
  <%= @user.tendn %>
</p>

<p>
  <strong>Matkhau:</strong>
  <%= @user.matkhau %>
</p>

<p>
  <strong>Tenuser:</strong>
  <%= @user.tenuser %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @user.diachi %>
</p>

<p>
  <strong>Sodt:</strong>
  <%= @user.sodt %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Vaitro:</strong>
  <%= @user.vaitro %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
