<p id="notice"><%= notice %></p>

<p>
  <strong>Tensp:</strong>
  <%= @hanghoa.tensp %>
</p>

<p>
  <strong>Mota:</strong>
  <%= @hanghoa.mota %>
</p>

<p>
  <strong>Anh:</strong>
  <%= @hanghoa.anh %>
</p>

<p>
  <strong>Soluong:</strong>
  <%= @hanghoa.soluong %>
</p>

<p>
  <strong>Dongia:</strong>
  <%= @hanghoa.dongia %>
</p>

<p>
  <strong>Iddanhmuc:</strong>
  <%= @hanghoa.iddanhmuc %>
</p>

<%= link_to 'Edit', edit_hanghoa_path(@hanghoa) %> |
<%= link_to 'Back', hanghoas_path %>
