<p id="notice"><%= notice %></p>

<p>
  <strong>Tendanhmuc:</strong>
  <%= @danhmuc.tendanhmuc %>
</p>

<p>
  <strong>Anh:</strong>
  <%= @danhmuc.anh %>
</p>

<%= link_to 'Edit', edit_danhmuc_path(@danhmuc) %> |
<%= link_to 'Back', danhmucs_path %>
