
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark  bg-success">
    <%= link_to 'KTRE', '/', class: "nav-link ", style: "color: #fff"  %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'HOME', '/', class: "nav-link" %> <span class="sr-only">(current)</span>
        </li>
       
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cây cảnh
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Tin tức </a>
        </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">About </a>
      </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/hhbytim" method="get">
        <input class="form-control mr-sm-2" type="search" name="ndtim" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" name="submit" type="submit">Search</button>
      </form>    
      <a class="nav-link"><%= link_to 'Đăng ký', new_user_path %></a>
      <a class="nav-link"><%= link_to 'Đăng nhập', '/signin' %></a>
      <% if session[:user_id] %>
      <a class="nav-link"><%= link_to 'Đăng xuất', '/session/logout' %></a>
      <% end %>
      <a class="nav-link"><%= link_to 'Giỏ hàng', '/giohang' %></a>
    </div>
  </nav>
  <br><br><br>